{% extends "base.html" %}
{% block content %}
<div class="content-box">
    <h1>Password Required</h1>
    <p class="slogan">This secret is protected by a password. Please enter it below to proceed.</p>
    
    {% if error %}
    <p class="error-message"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <form action="" method="post" id="password-form">
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="password-input" autofocus>
        </div>
        <div class="controls">
            <input type="submit" value="Unlock Secret" class="btn-primary">
        </div>
    </form>
</div>