{% extends "base.html" %}
{% block content %}
<div class="content-box">
    <h1>View Secret</h1>
    <p class="slogan">
        This secret can only be viewed **once** and will be permanently destroyed.
        {% if password_protected %}
        This secret is also protected by a password.
        {% endif %}
    </p>
    <form action="" method="post" id="preview-form">
        <div class="controls">
            <input type="submit" value="View Secret Now" class="btn-primary">
        </div>
    </form>
</div>
{% endblock %}